/***** Map style *****/

#map {
  height: 100%;
  width: 100%;
  padding: 5px;
}

#mapwrapper {
  position: absolute;
  top: 5%;
  left: 30%;
  height: 90%;
  width: 60%;
  resize: both;
}

/***** SVG *****/
.axis {
  shape-rendering: crispEdges
}

.axis line {
  display: none;
}

.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.y.axis path {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
}

.district {
  fill-opacity: 0.8;
  stroke: #333;
}

/***** Tooltip *****/
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
