/***** General style *****/

#map {
  height: 100%;
  width: 100%;
}

#mapwrapper {
  position: absolute;
  top: 10%;
  bottom: 10%;
  height: 80%;
  width: 100%;
  resize: both;
}

.error {
  color: #914141;
}

.row {
  display: flex;
}

.row > .col {
  flex: 1;
}


/***** Toggle buttons *****/
.toggle-buttons {
  display: flex;
}

.toggle-buttons > button {
  flex: 1;
  line-height: 30px;
  color: #444;
  background-color: #fafafa;
  font-size: 11pt;
  border: 1px solid #999;
  border-right: none;
  outline: none;
  cursor: pointer;
}

.toggle-buttons > button:last-child {
  border-right: 1px solid #999;
}

.toggle-buttons > button.active {
  color: #fff;
  background-color: #4c7d95;
}

/***** SVG *****/
svg {
  /* background-color: white; */
}

.axis {
  shape-rendering: crispEdges
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.y.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

circle {
  fill-opacity: 0.7;
}

circle:hover {
  fill-opacity: 0.9;
}

circle.selected {
  fill: #000;
  fill-opacity: 1;
}

circle.hide {
  fill-opacity: 0.15;
  pointer-events: none;
}

/***** Tooltip *****/
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.axis .tick text {
  font-size: 10pt;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}
